body {
  margin: 0;
  padding: 0;
}

.page {
 font-family: 'Roboto', "sans-serif", ;
 
}

.header {
 display: flex;
 flex-direction: column;
 Background-color: #1F2937;
 height: 400px;
 width: 100%;
 
}

.top {
 display: flex;
 justify-content: space-between;

}

.space {
 display: flex;
 padding-top: 16px;
 gap: 16px;
 font-size: 18px;
  color: #E5E7EB;
 margin-right: 100px;
  
}

header {
 color: #F9FAf8;

}

a {
 color: #F9FAf8;
 text-decoration: none;
 
}

h1 {
 font-size: 24px;
 color: #F9FAf8;
 margin-left: 100px;
}

.head1 {
font-size: 48px;
font-weight: 800;
color: #F9FAf8;
margin-bottom: -48px;
}

.head2 {
font-size: 18px;
color: #E5E7EB;
max-width: 400px;

}

button {
  background-color: #3882F6;
  color: #F9FAf8;
  border-radius: 8px;
  padding: 6px 16px 6px 16px;
}

.head1, .head2, button, .topimage {
 margin-left: 100px;
 
}

.topimage{
  
 max-height: 300px;
 width: 400px;
 margin-top: 48px;
 margin-right: 100px;
 
}

img {
  max-width: 100%;
  max-height: 100%;
  
}

.side {
  display: flex;
 
}

.toptext {
  flex: 1;
  
}


  
